.velas {
	margin-bottom: 4em;
}

.velas h2,
.jabones h2 {
	text-align: center;
	margin: 4em 0;
}

.velas h4,
.jabones h4 {
	text-align: center;
	margin-top: 1em;
}

.product__grid {
	display: grid;
	gap: 4em;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	justify-items: center;
	align-items: center;
	margin-bottom: 7em;
}

.product__img {
	border-radius: 30px;
	overflow: hidden;
	border: solid 3px transparent;
	transition: 1s all;

	&:hover {
		border: solid 3px var(--gold);
	}
}

.product__img img {
	display: block;
	transition: 2s all;

	&:hover {
		transform: scale(1.3);
	}
}

.product__list--item {
	position: relative;
}

.product__list--item::after {
	content: '\2022';
	color: var(--gold);
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	position: absolute;
	left: 0;
}

.product__list--item + .product__list--item {
	margin-top: 1em;
}

.beneficios {
	position: absolute;
	background-color: var(--gold);
	width: 100%;
	height: 100%;
	padding: 2em;
	transition: 1s all;
	opacity: 0;
	transform: translateY(100px);
}

.beneficios ul {
	color: var(--black);
	margin-top: 2em;
	font-size: clamp(1.5rem, 2vw, 2rem);
}

.velas .gold__btn,
.jabones .gold__btn {
	width: clamp(130px, 80vw, 250px);
	margin: 0 auto;
	display: block;
	font-size: clamp(1.5rem, 1vw, 2rem);
	padding: 0.3em;
	text-align: center;
}

.vela:hover,
.jabon:hover {
	.beneficios {
		opacity: 1;
		transform: translateY(0);
	}
}

.jabones {
	position: relative;
}

.padding {
	padding-bottom: 4em;
}
